.s-header {
  display: flex;
  justify-content: space-between;
  &__side {
    display: flex;
    align-items: center;
    span {
      display: block;
      font-size: 20px;
      margin: 0px 10px;
      color: #fff;
    }
  }
  .btn-left {
    padding: 5px 10px;
    &:before {
      content: '';
      position: relative;
      border-right: 20px solid #fff;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }
  }
  .btn-right {
    padding: 5px 10px;
    &:before {
      content: '';
      position: relative;
      border-left: 20px solid #fff;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }
  }
}