.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8c1713;
  color: #fff;
  height: 70px;
  margin-top: 5px;
  border-bottom: 2px solid #fff;
  &__logo {
    .logo {
      display: inline-block;
      font-size: 33px;
      font-style: italic;
      padding: 0 5px 0 20px;
    }
    .status {
      top: -.3em;
      font-size: 30px;
    }
  }
  &__actions {
    display: flex;
    height: 100%;
  }
  &__btn {
    padding: 0px 25px;
    position: relative;
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #8c1713;
    color: #fff;
    border: 1px solid transparent;
    transition: .3s;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: .3s;
      border: 1px solid #fff;
      z-index: 2;
    }
    span {
      font-size: 18px;
      padding-left: 10px;
    }
  }
  &__time {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 33px;
    .elem {
      width: 70px;
      height: 100%;
      transform: scale(1.1);
      border: 1px solid #fff;
      background-color: #8c1713;
      margin-left: 20px;
    }
  }
}