.meteo-chart,
.traffic-chart {
  h2 {
    color: #1c8f68;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 20px 40px 0;
    box-sizing: border-box;
  }
}
#linechart_material {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}

#chart_div {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}