.map {
  position: relative;
  &__legend {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 225px;
    height: 140px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 12px;
  }
  &__indicator {
    margin-right: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
  }
}