.meteo {

  table {
    border-collapse: collapse;
    width: max-content;
    overflow: hidden;
    border: 1px solid #d4d4d4;
  }
  th,td {
    vertical-align: top;
    padding: 3px 8px;
    box-sizing: border-box;
    text-align: center;
  }
  tr {
    height: 30px;
    border: 1px solid #d4d4d4;
  }
  th {
    font-weight: 400;
    background-color: #f2f2f2;
    border: 1px solid #d4d4d4;
  }
  td {
    border: 1px solid #d4d4d4;
  }
  thead {
    img {
      width: 20px;
      height: 20px;
    }
  }
  tbody {
    tr {
      background-color: #fff;
      img {
        width: 25px;
        height: 25px;
      }
      a {
        text-transform: uppercase;
        color: #4d8898;
        text-decoration: underline;
      }
    }
    .mr-location {
      font-style: italic;
      font-size: 14px;
    }
  }
  .arrow {
    width: 15px;
    padding: 0px 10px;
  }
  .block-img {
    padding-right: 10px;
  }
  .city {
    text-decoration: underline;
    font-size: 18px;
    display: block;
  }
  .direction {
    display: block;
    font-style: italic;
    font-size: 14px;
    margin-top: 10px;
  }
  .yellow-td {
    background-color: #fdf1a4!important;
  }

  &-review {
    tbody tr {
      &:nth-of-type(even) {
        background-color: #f2f2f2;
      }
    }
    td {
      border-right: 1px solid #d4d4d4;
      border-left: 1px solid #d4d4d4;
    }
    .city {
      color: #00447a;
    }
    .mr-pdk {
      width: 120px;
    }
    .mr-post-control {
      width: 220px;
      text-align: left;
    }
    .mr-location {
      width: 220px;
      text-align: left;
    }
    .mr-time {
      width: 120px;
    }
    .mr-photo-ico {
      width: 50px;
    }
    .mr-weather-ico {
      width: 50px;
    }
    .mr-fallout-type {
      width: 80px;
    }
    .mr-fallout-sum {
      width: 110px;
    }
    .mr-fallout-intensity {
      width: 130px;
    }
    .mr-temp {
      width: 80px;
    }
    .mr-dew {
      width: 90px;
    }
    .mr-wet {
      width: 70px;
    }
    .mr-pressure {
      width: 80px;
    }
    .mr-wind-grd,
    .mr-wind-ms {
      width: 50px;
    }
    .mr-coating-compos {
      width: 90px;
    }
    .mr-coating-c {
      width: 70px;
    }
    .mr-ice {
      width: 70px;
    }
  }
  &-archive {
    tr {
      &:hover {
        background-color: #fdf8d1!important;
      }
    }
    .ma-when {
      width: 120px;
    }
    .ma-photo-ico {
      width: 50px;
    }
    .ma-weather-ico {
      width: 50px;
    }
    .ma-fallout-type {
      width: 80px;
    }
    .ma-fallout-sum {
      width: 110px;
    }
    .ma-fallout-intensity {
      width: 130px;
    }
    .ma-temp {
      width: 80px;
    }
    .ma-dew {
      width: 90px;
    }
    .ma-wet {
      width: 70px;
    }
    .ma-pressure {
      width: 80px;
    }
    .ma-wind-grd,
    .ma-wind-ms {
      width: 100px;
    }
    .ma-coating-compos {
      width: 90px;
    }
    .ma-coating-temp {
      width: 100px;
    }
    .ma-coating-clutch {
      width: 120px;
    }
    .ma-road-body-temp-min {
      width: 120px;
    }
    .ma-road-body-temp-max {
      width: 150px;
    }
  }
  &-forecast {
    tr {
      &:hover {
        background-color: #fdf8d1!important;
      }
    }

    .mf-when {
      width: 120px;
    }
    .mf-weather-ico {
      width: 50px;
    }
    .mf-fallout-type {
      width: 80px;
    }
    .mf-fallout-sum {
      width: 110px;
    }
    .mf-atmosphere-temp {
      width: 130px;
    }
    .mf-atmosphere-dew {
      width: 130px;
    }
    .mf-atmosphere-wet {
      width: 250px;
    }
    .mf-atmosphere-pres {
      width: 100px;
    }
    .mf-atmosphere-wind-grd,
    .mf-atmosphere-wind-ms {
      width: 100px;
    }
    .mf-road-compos {
      width: 140px;
    }
    .mf-road-temp {
      width: 140px;
    }
    .mf-cloudiness {
      width: 100px;
    }
    .mf-fog {
      width: 140px;
    }
  }
  &-review-traffic {
    td {
      height: 60px;
      img {
        width: 30px;
      }
    }
    td.mrt-pdk {
      text-align: left;
    }
    .mrt-pdk {
      width: 120px;
    }
    .mrt-name-location {
      text-align: left;
      width: 280px;
    }
    .mrt-chart {
      width: 120px;
    }
    .mrt-photo-ico {
      width: 60px;
    }
    .mrt-time {
      width: 120px;
    }
    .mrt-speed,
    .mrt-distance,
    .mrt-fullness,
    .mrt-amount,
    .mrt-state {
      width: 280px;
    }
    .direct,
    .reverse {
      width: 140px;
    }
    .mrt-ellipsis {
      width: 150px;
    }

    .city {
      color: green;
    }
    tbody {
      .direct {
        background-color: #f4fcf7;
      }
    }

  }
}