.modal {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  padding: 15px 25px;
  box-sizing: border-box;
  border: 1px solid #777;
  color: #777;
  font-size: 14px;
  font-weight: 400;
  &__title {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  &__slider {
    width: 200px;
    height: 150px;
    margin: 0 auto 10px;
    border: 1px solid #777;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__datetime {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  &__table {
    display: flex;
    flex-direction: column;
  }
  &__table-row {
    display: flex;
    margin-bottom: 5px;
  }
  &__table-cell {
    &:nth-of-type(1) {
      flex-basis: 30%;
    }
    &:nth-of-type(2) {
      flex-basis: 30%;
    }
    &:nth-of-type(3) {
      flex-basis: 40%;
    }
    img {
      height: 20px;
      width: 20px;
      object-fit: contain;
    }
  }
  .slick-track {
    height: 100%;
  }
  .slick-list.draggable {
    height: 100%!important;
  }
}