input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + span, input[type="radio"] + span {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  outline: none;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;
}

input[type="checkbox"]:checked + span:before {
  content: "";
  display: block;
  width: 9px;
  height: 14px;
  border: 0 solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotateZ(45deg);
  margin: -6px 3px;
  pointer-events: none;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #00b0f0;
  color: #fff;
  border: none;
  margin: 6px 3px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    color: #ffff00;
  }
}

.filter {
  width: 100%;
  display: block;
  margin: 3px 0;
  padding: 3px 5px;
  box-sizing: border-box;
  font-size: 18px;
  color: #000;
  background-color: #f3f3f3;
  span {
    margin: 0px 5px;
  }
  input[type="date"] {
    border: 1px solid #2ebdf1;
    box-sizing: border-box;
    padding: 0px 10px;
  }
}
